<h1>Listing positions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th>Part</th>
    <th>X pos</th>
    <th>Y pos</th>
    <th>Width</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.name %></td>
    <td><%= position.template_id %></td>
    <td><%= position.part %></td>
    <td><%= position.x_pos %></td>
    <td><%= position.y_pos %></td>
    <td><%= position.width %></td>
    <td><%= position.height %></td>
    <td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
