<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @element.name %>
</p>

<p>
  <b>Part:</b>
  <%= @element.part %>
</p>

<p>
  <b>Template:</b>
  <%= @element.template_id %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
