<h2>4. 완성된 상품 이미지</h2>
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<h3>템플릿 선택</h3>
			<ul class="nav nav-list bs-docs-sidenav affix-top" >
				<% if current_user.brand.nil? %>
					<%= link_to "브랜드 선택이 필요합니다.", edit_user_path(current_user)%>				
				<% elsif current_user.brand.templates.empty? %>
					<li><%= current_user.brand.name %> 템플릿이 아직 만들어지지 않았습니다. 연락주세요.</li>				
				<% else %>
					<% current_user.brand.templates.each do |template| %>
						<li><%= link_to template.name %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="span9">
			<div class="row">
				<% @items.each do |item| %>
					<% photo = current_user.photos.where(:item_code => item.item_code).first %>
					<% unless photo.nil? %>
						<div class="span2 well well-small">
							<ul class="unstyled">
								<li><h3><%= item.item_code %></h3></li>
								<li>
									<%= link_to image_tag(photo.photo_file.url(:thumb).to_s, :class => "product_image"), edit_user_item_path(item) %>
								</li>
								<li>
									<%= link_to "미리보기", html_code_path(current_user.username, item.item_code), :class => "btn" %>
									<%= link_to "링크 복사하기", saved_image_path(item, "png"),
										:id => "saved_image_" + item.id.to_s, :class => "btn btn-primary" %>
								</li>
							</ul>
							<% saved_image_id = "#saved_image_"+item.id.to_s %>
							<script>
						
								$('<%= saved_image_id %>').zclip({
								    copy: "<%= html_code_url(current_user.username, item.item_code)%>",
										afterCopy: function() {
											alert("주소창에 콘트롤+V 눌러보세요.\n<%= html_code_url(current_user.username, item.item_code)%>")
										}
								});
							</script>
						</div>
					<% else %>
						<div class ="span3 well well-small">
							<h3><%= item.item_code %></h3>
							<p><%= link_to "사진이 필요합니다.", user_photos_path %></p>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
