<table>
	<% @items.each do |item| %>
		<tr>
			<td>
				<% Photo.where(:item_code => item.item_code).each do |photo| %>
				<%= image_tag photo.photo_file.url(:thumb).to_s %>
				<% end %>
			</td>
			<td><%= item.item_code %></td>
			<td><%= item.name %></td>
		</tr>
	<% end %>
</table>
<h2>엑셀 파일 업로드</h2>

<%= form_tag import_user_items_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>