<table>
	<% @items.each do |item| %>
		<tr>
			<td>
				<% Photo.where(:item_code => item.item_code).each do |photo| %>
				<ul>
					<li><%= photo.part %></li>
					<li><%= image_tag photo.photo_file.url(:thumb).to_s %></li>
				</ul>
				<% end %>
			</td>
			<td><%= item.item_code %></td>
			<td><%= item.name %></td>
			<td><%= link_to "완성된 상품 이미지", product_image_path(item) %></td>
		</tr>
	<% end %>
</table>
<h2>엑셀 파일 업로드</h2>

<%= form_tag import_user_items_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>