<h2><%= @template.name %> 템플릿 관리</h2>
<%= link_to "템플릿 이미지 올리기", template_photos_path(@template)%>
<%= nested_form_for @template do |f| %>
	<ul class="parts unstyled">
		<% @photos.each do |photo| %>
			<li>
				<dl>
					<dt>Part: <%= photo.part %></dt>
					<dd><%= link_to image_tag(composed_image_template_path(@template, :part => photo.part)), edit_template_photo_path(@template, photo)%></dd>
				</dl>
				<%= f.submit "반영"%>
				<div class="row columns">

					<div class="span12">
						<%= f.fields_for :labels do |label_form|%>
						<%= label_form.hidden_field :part, :value => photo.part %>
							<dl class="dl-horizontal">
								<dt><span class="label label-inverse">column</span></dt>
								<dd>
									<%= label_form.text_field :column %>
								</dd>
							</dl>
							<% keys = [:x_pos, :y_pos, :color, :size]%>
							<div class="row">
								<% keys.each do |key| %>
									<div class="span3">
										<dl class="dl-horizontal">
											<dt class=""><%= key.to_s%> </dt>
											<dd class=""><%= label_form.text_field key, :class => "input-mini" %></dd>
										</dl>
									</div>
								<% end %>
							</div>
						<% end %><!-- f.fields_for :labels -->
					</div><!-- span12 -->

				</div><!-- div_columns-->
				<%= f.submit "반영"%>
			</li>
		<% end %><!--photo -->
	</ul>
<% end %><!-- nested_form -->
