<h1>Listing banners</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Pos x</th>
    <th>Pos y</th>
    <th>Font color</th>
    <th>Bg color</th>
    <th>Font size</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.photo_id %></td>
    <td><%= banner.pos_x %></td>
    <td><%= banner.pos_y %></td>
    <td><%= banner.font_color %></td>
    <td><%= banner.bg_color %></td>
    <td><%= banner.font_size %></td>
    <td><%= banner.content %></td>
    <td><%= link_to 'Show', banner %></td>
    <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
    <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Banner', new_banner_path %>
