<h1>New banner from CSV file</h1>

<%= form_tag banners_import_url, :multipart => true do %>
  <%= file_field_tag "file" %>
  <%= submit_tag "Upload" %>
<% end %>

<h1>New banner</h1>

<%= render 'form' %>

<%= link_to 'Back', banners_path %>
