<div class="row">
	<div class="span2 well well-small">
		<h5>1. 엑셀 파일 업로드</h5>
	</div>
	<div class="span2 well well-small">
		<h5>2. 이미지 업로드</h5>
	</div>
	<div class="span3" style="text-align: center;">
		<h2><i class="icon-arrow-right"></i>&nbsp 품번 입력</h2>
	</div>
	<div class="span2 well well-small">
		<h5>4. 완성</h5>
	</div>
</div>
<% i = 0 %>
<div id="item" class="well item-box">
	<%= simple_form_for [:user, Photo.first] do |f| %>
	<%= f.submit "품번변경 완료", :class => "btn btn-primary" %>
		<%= f.fields_for :photos do |photos_form| %>
		<table class="table table-striped">
			<tr>
				<th>상품사진</th>
				<th>품번</th>
				<th>자리</th>
				<th>삭제</th>
			</tr>
		<% @photos.each do |pic| %>
			<%
			if /(.+\/)(.+)(\.(png|jpg|jpeg))/.match(pic.photo_file.to_s).nil?
				item_code = ""
			else
				item_code = /(.+\/)(.+)(\.(png|jpg|jpeg))/.match(pic.photo_file.to_s)[2]
			end
			%>
					<tr>
					<% i = i + 1 %>
			     <td class="span4">
						 <%= link_to image_tag(pic.photo_file.url(:thumb).to_s), user_photo_path(pic) %>
					 </td>
					 <td>
						 <%= text_field_tag "photo[#{pic.id}][[item_code]]", 
						 pic.item_code ||  pic.extracted_item_code[:item_code], :tabindex => i %>
					 </td>
					 <td>
						 <%= text_field_tag "photo[#{pic.id}][[part]]", 
						 pic.part || pic.extracted_item_code[:part], :tabindex => i+@photos.count, :class => "input-small" %>
					 </td>
					 <td>
						 <%= link_to '삭제', [:user, pic], method: :delete, data: { confirm: "지울까요?"} %>
					 </td>
				 </tr>

			 <%end%>
			 		</table>
				<% end %>


	<%= f.submit "품번변경 완료", :class => "btn btn-primary" %>
	<% end %>
</div>
