<% i = 0 %>
<div id="item" class="well">
	<%= simple_form_for [:user, Photo.first] do |f| %>
	<%= f.submit "품번변경 완료", :class => "btn btn-primary" %>
		<%= f.fields_for :photos do |photos_form| %>
		<table class="table table-striped">
		<% @photos.each do |pic| %>
			<%
			if /(.+\/)(.+)(\.png)/.match(pic.photo_file.to_s).nil?
				item_code = ""
			else
				item_code = /(.+\/)(.+)(\.png)/.match(pic.photo_file.to_s)[2]
			end
			%>
					<tr>
					<% i = i + 1 %>
			     <td class="span4">
						 <%= link_to image_tag(pic.photo_file.url(:thumb).to_s), user_photo_path(pic) %>
					 </td>
					 <td>
						 <%= text_field_tag "photo[#{pic.id}][[item_code]]", 
						 pic.item_code ||  pic.extracted_item_code[:item_code], :tabindex => i %>
					 </td>
					 <td>
						 <%= text_field_tag "photo[#{pic.id}][[part]]", 
						 pic.part || pic.extracted_item_code[:part], :tabindex => i+@photos.count, :class => "input-small" %>
					 </td>
					 <td>
						 <%= link_to '삭제', user_photos_path(pic.id), :confirm => "지울까요?", :method => 'delete' %>
					 </td>
				 </tr>

			 <%end%>
			 		</table>
				<% end %>


	<%= f.submit "품번변경 완료", :class => "btn btn-primary" %>
	<% end %>
</div>
