<h1><%= @user.username %>님의 상품 사진을 올려주세요.</h1>
<%= form_for user_photos_path, :remote => true do %>
	<p id="notice"><%= notice %></p>
		사진 올리기: 
		<input id="fileupload" type="file" name="photo[photo_file]" multiple>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
		<script src="/jquery-file-upload/jquery.iframe-transport.js"></script>
		<script src="/jquery-file-upload/jquery.fileupload.js"></script>
		<script>
		$(function () {
		    $('#fileupload').fileupload({
		        dataType: 'json',
		        url: '<%= user_photos_path %>',
		        done: function (e, data) {
		            $.each(data.result, function (index, file) { 
		               $('<li><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
		            });
		        }
		    });
		});
		</script>
		<ul id="thumbs" class="row-fluid">
	<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
		</ul>
<% end %>
<p>
	<%= link_to '확인', user_photos_path %>
</p>