<!-- The form_for...remote=>true ensures that the csrf meta tag is carried thru to save
the authenticity token. Without this, authentication gets dropped with an ajax call and
strange things happen, lost authenticity + possible fall thru logic to next GET action. 
Also see the setting in development.rb environment. New as of 3.2.3 -->

<%= form_for [@user, @photo], :remote => true do %>

<h1>Upload Item Photos:	<%= @user.username %></h1>
	<br>
	<p id="notice"><%= notice %></p>

		Upload Photos: 
		<input id="fileupload" type="file" name="photo[photo_file]" multiple>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
		<script src="/jquery-file-upload/jquery.iframe-transport.js"></script>
		<script src="/jquery-file-upload/jquery.fileupload.js"></script>
		<script>
		$(function () {
		    $('#fileupload').fileupload({
		        dataType: 'json',
		        url: '<%= user_photos_path(@user.id) %>',
		        done: function (e, data) {
		            $.each(data.result, function (index, file) { 
		               $('<li class="span4"><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
		            });
		        }
		    });
		});
		</script>

		</br>

		</br>
	
		<ul id="thumbs" class="row-fluid">
	<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
		</ul>
<% end %>
<p>
	<%= link_to '확인', user_photos_path %>
</p>