<%= form_for([@mold, @photo]) do |f| %>
	<div>
		<%= image_tag @photo.photo_file %>
	</div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>