<h1><%= @template.name %> 템플릿의 <%= @mold.name %>이미지 틀에 쓰일 필수 이미지 관리</h1>
<%= link_to "#{@mold.name} 이미지 틀 관리로 돌아가기", mold_positions_path(@mold)%>
<%= nested_form_for @mold do |mold_form| %>	
	<div class="row">
	<%= mold_form.fields_for :photos, nil, {:class => "well"} do |photo_form|%>
		<div class="span3 well">
			<ul>
				<%= photo_form.hidden_field :template_id, :value => @template.id %>
		    <li>
					<%= link_to image_tag(@mold.photos.find(photo_form.object.id).photo_file.url(:thumb)), mold_photo_path(@mold, photo_form.object.id) if @mold.photos.exists?(photo_form.object.id)%>
				</li>
				<li>
					<%= photo_form.label :part %>
					<%= photo_form.text_field :part, :class => "input-small" %>
				</li>
				<li><%= photo_form.link_to_remove "삭제" %></li>
			</ul>
		</div>
	<% end %>
	</div>
	<%= mold_form.submit %>
<% end %>
<%= link_to "새 사진 추가", new_mold_photo_path(@mold)%>