<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mold.name %>
</p>

<p>
  <b>Part:</b>
  <%= @mold.part %>
</p>

<p>
  <b>Template:</b>
  <%= @mold.template_id %>
</p>


<%= link_to 'Edit', edit_template_mold_path(@template, @mold) %> |
<%= link_to 'Back', template_molds_path %>
